body {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#top-bar {
  display: inline-flex;
}

#logo{
  float: left;
}

#navbar{
  padding-top: 75px;
  padding-left: 2px;
  padding-right: 2px;
}

a {
  display: inline-flex;
  color: #000;
  padding-left: 45px;
}

#page-text{
  margin: auto;
}

#offers{
  margin: auto;
  background-color: white;
}

#foot-info{
  text-align: centre;
}

.ptable {
  border-collapse: separate;
  width: 100%;
  text-align: left;
}

th, td{
  width: 33.33%;
}
